*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
.zoom{
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1000;
  overflow: hidden;
  background: url("./assets/img.jpg");
  background-size: cover;
  
}
#img1{
  position: absolute;
  transform: translateX(-50%);

  z-index: 100;
  bottom: 0%;
  
}
#img2{
  position: absolute;

  z-index: 100;
  right: 0%;
  bottom: 0%; 
}
#text{
  position: absolute;
  transform: translateY(150%);
}
.zoom::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  background: linear-gradient(transparent , #fff);
  backdrop-filter: blur(1px);
  bottom: 0%;
  z-index: 101;
}
.content{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.content h2{
  font-size: 3em;
}
.content p{
  font-size: 1.5rem;
  text-align: justify;
  margin: 10px;
}